.pActividades{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position: center;
    text-align: center;
}


.contenedor {
    text-align: center; /* Centrar el texto */
}

.carpetas {
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Espaciado superior */
    text-align: center;
}

.carpeta {
    position: relative; /* Posicionamiento relativo para el contenedor de cada carpeta */
    margin: 0 15px; /* Espaciado horizontal entre carpetas */
    text-align: center; /* Centrar el texto dentro del contenedor */
}

.unidad {
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); /* Centrar el texto horizontalmente */
    font-weight: bold; 
    color: rgb(0, 0, 0); /* Cambia el color si es necesario */
}